apiVersion: batch/v1
kind: Job
metadata:
  name: topic-init
  namespace: tcc
spec:
  template:
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: topic-init
          image: leandrorodriguescarneiro/tcc_api_ingestao_dados:latest
          imagePullPolicy: Always
          command: ["python", "-m", "app.kafka.init_topics"]
          envFrom:
            - configMapRef:
                name: tcc-config
            - secretRef:
                name: tcc-secrets
      restartPolicy: Never
  backoffLimit: 1                   
  ttlSecondsAfterFinished: 60        
