apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-tcc
  labels:
    app: postgres-tcc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-tcc
  template:
    metadata:
      labels:
        app: postgres-tcc
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: tcc-config
        - secretRef:
            name: tcc-secrets
        readinessProbe:
          exec:
            command: ["pg_isready", "-U", "postgres", "-d", "postgres"]
          initialDelaySeconds: 10
          periodSeconds: 5
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-data
        emptyDir: {}
